<h2></h2>
<p>
  {{controller.message}}
</p>
<md-content layout="column">
  <!--<md-card>
        <div layout="row">
        </div>
        </md-card>-->
  <md-card>
    <md-toolbar class="md-table-toolbar md-default">
      <div class="md-toolbar-tools">
      <div flex="25">home</div>
      <div flex="25">score</div>
      <div flex="25">away</div>
      <div flex="25">score</div>
      </div>
    </md-toolbar>
    <md-content ng-repeat="series in controller.nbaseries">
      <div layout="row" ng-repeat="game in series.games">
        <div flex="25"><img ng-src="{{game.homeTeam.logo}}" style="max-width:100px;"></div>
        <div flex="25">{{game.homeScore}}</div>
        <div flex="25"><img ng-src="{{game.awayTeam.logo}}" style="max-width:100px;"></div>
        <div flex="25">{{game.awayScore}}</div>
        <!--<md-button flex="20" class="md-raised md-accent">v   <md-button flex="20" class="md-raised md-accent">view</md-button>-->
      </div>
    </md-content>
  </md-card>
</md-content>